DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sooqiq
NEXTAUTH_SECRET=dev-secret
OTP_STATIC=000000
SESSION_SECRET=super-secret-session
WHATSAPP_SUPPORT=07739543662
SITE_URL=http://localhost:3000
NODE_ENV=development
